
<div class="card p-2 m-2 gap-2 card-front">
    
    <button class="btn text-start border-success btn-front">
        <h2 class="fs-2 fw-light custom-card-text">Team manager</h2>
        <p class="fw-light custom-card-text">Create and manage both teams and matches in an intuitive conlsole.</p>
    </button>
    <button class="btn text-start border-success">
        <h2 class="fs-2 fw-light custom-card-text">Tournament creator</h2>
        <p class="fw-light custom-card-text">Create and oversee toornaments with ease.</p>
    </button>
</div>

  

