<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" (click)="main_clicked('open_main_page')">FOOTYFLIX</a>
      <div>
        <button class="btn" (click)="main_clicked('open-login')">login/register</button>
      <button class="btn" style="display: inline-block;">
        <img src="../../../assets/person(1).png" height="30" alt="">
      </button>
      </div>
    </div>
  </nav>
  
