<!--front varient--------------------------------------------------------->
<div class="card p-3" *ngIf="title_varient=='front_title'">
    
    <h1>FOOTYFLIX</h1>
    <p class="fw-light">Your friendly neighborhood platform uniting players, football  enthusiasts, and sporting facility owners in one goal-scoring community!</p>
</div>

<!--team managment varient--------------------------------------------------------->

<div class="p-3" *ngIf="title_varient=='teams_console_title'">
    
    <div class="row align-items-stretch" >
        <div class="col-1 py-2 " style="height: 100%;">
            <img src="../../../assets/captain-big-logo.png" height="200" alt="">
        </div>
        <div class="col-11">
            <div class="card justify-content-end p-3" style="height: 100%;">
                <h1>GREETINGS CAPTAIN</h1>
                <p class="fw-light">This section is tailor made for the self-proclaimed leaders like you with all the tools you may need to streamline the management of your teams and games.</p>
            </div>
        </div>
    </div>
    
</div>