h1{
    color: #253738;
}

p{
    color:#253738;
}

.card{
    background: none;
    /*background-image: url(../../../assets/stadium_lights.png);
    background-size: 20vh;
    background-repeat: no-repeat;
    background-position: right;*/
    
    
}