<div class="row">
    <!-- Login Form -->
    <div class="col m-2 p-2">
      <div>
        <h2>Login form</h2>
        <form [formGroup]="loginForm" (submit)="loginSubmit()">
          <label for="loginUsername">Username:</label><br>
          <input type="text" id="loginUsername" formControlName="loginUsername"><br>
          <label for="loginPassword">Password:</label><br>
          <input type="password" id="loginPassword" formControlName="loginPassword"><br>
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </form>
      </div>
    </div>
  
    <!-- Register Form -->
    <div class="col m-2 p-2">
      <div>
        <h2>Register form</h2>
        <form [formGroup]="registerForm" (submit)="registerSubmit()">
          <label for="username">Username:</label><br>
          <input type="text" id="username" formControlName="username"><br>
          <label for="email">Email:</label><br>
          <input type="email" id="email" formControlName="email"><br>
          <label for="password">Password:</label><br>
          <input type="password" id="password" formControlName="password"><br>
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </form>
      </div>
    </div>
  </div>
  <a routerLink="/login-register">actual login</a>