

<div class="modal shadow darken-background" tabindex="-1" [ngClass]="{'hide': display}" [ngStyle]="{'display': 'block'}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content shadow fade-in-and-rise">
        <div class="modal-header">
          <h5 class="modal-title">Create/Edit your team.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
<!----------------------------------------------------------->
            <div class="container-fluid ">
                
                  <div class="row pt-2 m-2 pb-3 justify-content-center">
                    <div class="col col-5">
                      <label for="team_name" class="form-label">Name:</label>
                      <input type="text" class="form-control bg-none" name="team_name" [(ngModel)]="team_name" placeholder="Enter your team name" required>
                    </div>
                  </div>
                  <div class="row p-2">
  
                      <div class="col col-lg-4">
                          
                          <label for="position1" class="form-label">Postion 1:</label>
                          <input type="hidden" name="position1" id="position1" value="{{selectedPlayers[1]}}">
                          
                          <app-player-search (messageEvent)="getPos($event,1)" [players]="allPlayers"></app-player-search>
  
                          <label for="position2" class="form-label">Postion 2:</label>
                          <input type="hidden" name="position2" id="position2" value="{{selectedPlayers[2]}}">
                          
                          <app-player-search (messageEvent)="getPos($event,2)" [players]="allPlayers"></app-player-search>
  
                          <label for="position3" class="form-label">Postion 3:</label>
                          <input type="hidden" name="position3" id="position3" value="{{selectedPlayers[3]}}">
                          
                          <app-player-search (messageEvent)="getPos($event,3)" [players]="allPlayers"></app-player-search>
  
                          <label for="position4" class="form-label">Postion 4:</label>
                          <input type="hidden" name="position4" id="position4" value="{{selectedPlayers[4]}}">
                          
                          <app-player-search (messageEvent)="getPos($event,4)" [players]="allPlayers"></app-player-search>
  
                          <label for="position5" class="form-label">Postion 5:</label>
                          <input type="hidden" name="position5" id="position5" value="{{selectedPlayers[5]}}">
                          
                          <app-player-search (messageEvent)="getPos($event,5)" [players]="allPlayers"></app-player-search>
  
                          <label for="position6" class="form-label">Postion 6:</label>
                          <input type="hidden" name="position6" id="position6" value="{{selectedPlayers[6]}}">
                          
                          <app-player-search (messageEvent)="getPos($event,6)" [players]="allPlayers"></app-player-search>
  
                      </div>
  
                      <div class="col col-lg-4">
                        <label for="position7" class="form-label">Postion 7:</label>
                        <input type="hidden" name="position7" id="position7" value="{{selectedPlayers[7]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,7)" [players]="allPlayers"></app-player-search>

                        <label for="position8" class="form-label">Postion 8:</label>
                        <input type="hidden" name="position8" id="position8" value="{{selectedPlayers[8]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,8)" [players]="allPlayers"></app-player-search>

                        <label for="position9" class="form-label">Postion 9:</label>
                        <input type="hidden" name="position9" id="position9" value="{{selectedPlayers[9]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,9)" [players]="allPlayers"></app-player-search>

                        <label for="position10" class="form-label">Postion 10:</label>
                        <input type="hidden" name="position10" id="position10" value="{{selectedPlayers[10]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,10)" [players]="allPlayers"></app-player-search>

                        <label for="position11" class="form-label">Postion 11:</label>
                        <input type="hidden" name="position11" id="position11" value="{{selectedPlayers[11]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,11)" [players]="allPlayers"></app-player-search>

                      </div>
                         
                      <div class="col col-lg-4">
                        <img src="../../../assets/big-stadium.png" class="img-fluid" alt="">
                      </div>
                      
                  </div>
                   
            </div>    
<!----------------------------------------------------------->
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="sendForm()">Save changes</button>
        </div>
      </div>
    </div>
  </div>



 <!--[ngStyle]="{'display':display}"     <div class="overlay" [ngStyle]="{'display': display}"></div>  -->