<button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button>

<div class="modal shadow darken-background " tabindex="-1" [ngClass]="{'hide': display}" [ngStyle]="{'display': display}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content shadow fade-in-and-rise">
        <div class="modal-header">
          <h5 class="modal-title">Create/Edit your team.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
<!----------------------------------------------------------->
            <div class="container-fluid ">
                <div class="row pt-2 m-2 pb-3 justify-content-center">
                  <div class="col col-5">
                    <label for="team_name" class="form-label">Name:</label>
                    <input type="text" class="form-control" placeholder="Enter your team name" required>
                  </div>
                </div>
                <div class="row p-2">

                    <div class="col col-lg-4">
                        
                        <label for="position1" class="form-label">Postion 1:</label>
                        <input type="hidden" name="position1" id="position1" value="{{position[1]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,1)"></app-player-search>

                        <label for="position1" class="form-label">Postion 2:</label>
                        <input type="hidden" name="position1" id="position1" value="{{position[2]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,2)"></app-player-search>

                        <label for="position1" class="form-label">Postion 3:</label>
                        <input type="hidden" name="position1" id="position1" value="{{position[3]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,3)"></app-player-search>

                        <label for="position1" class="form-label">Postion 4:</label>
                        <input type="hidden" name="position1" id="position1" value="{{position[4]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,4)"></app-player-search>

                        <label for="position1" class="form-label">Postion 5:</label>
                        <input type="hidden" name="position1" id="position1" value="{{position[5]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,5)"></app-player-search>

                        <label for="position1" class="form-label">Postion 6:</label>
                        <input type="hidden" name="position1" id="position1" value="{{position[6]}}">
                        
                        <app-player-search (messageEvent)="getPos($event,6)"></app-player-search>

                    </div>

                    <div class="col col-lg-4">
                      hello
                    </div>
                       
                    <div class="col col-lg-4">
                      <img src="../../../assets/big-stadium.png" class="img-fluid" alt="">
                    </div>
                    
                </div>    
            </div>    
<!----------------------------------------------------------->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="closeModal()">Save changes</button>
        </div>
      </div>
    </div>
  </div>



 <!--[ngStyle]="{'display':display}"     <div class="overlay" [ngStyle]="{'display': display}"></div>  -->