<div class="container-fluid px-0 z-0 top-0 position-absolute justify-content-center d-flex first-container"
[ngStyle]="{ 'background-image': 'url(' + first_container_images[currentImageIndex1] + ')' }" >
  <!-- Content of your component -->
</div>
<div class="container-fluid px-0 z-1 top-0 position-absolute justify-content-center d-flex secound-container "
[ngStyle]="{ 'background-image': 'url(' + second_container_images[currentImageIndex2] + ')' }">
  <!-- Content of your component -->
</div>



