<div class="image-container bg-image d-flex z-0 position-absolute top-0 end-0 justify-content-end">
    <img src="../../../assets/stadium_lights.png" class="img-fluid" style="height: 50vh;opacity: 0.2; transform: translate(10px,10px);" alt="">
</div>
<div class="image-container bg-image d-flex z-0 position-absolute top-0 start-0 justify-content-start">
    <img src="../../../assets/back-goal2.svg" class="img-fluid" style="height:50vh;opacity: 0.75; transform: translate(10px,10px);" alt="">
</div>
