<div class="card p-2 m-2 gap-2 card-front">
    <button class="btn text-start border-success btn-front">
        <h2 class="fs-2 fw-light custom-card-text">Discover nearby stadiums</h2>
        <p class="fw-light custom-card-text">Explore a range of  available stadiums in your area. Whether you're planning a game day or  looking for a new venue to host events, this feature provides quick  access to detailed information about nearby stadiums, including  amenities, capacities, and booking options.</p>
    </button>
    
</div>
