<app-navbar (clickEvent)="handleButtons($event)"></app-navbar>
<!--{{title_varient}}-->
<!--{{ConsolesActive}}-->
<body>
    <app-wallpapers *ngIf="true" [title]="wallpaperSwitch()"></app-wallpapers>
    <div class="container z-1 position-relative" *ngIf="title_varient!='login-register'">
        
        <div class="row px-2 py-4" style="color: #253738; border: #253738;border-radius: 1px;">
            <app-title-card [title_varient]="title_varient" [consoleActive]="ConsolesActive"></app-title-card>

            
        </div>
        <app-navigation-deck [ConsolesActive]="ConsolesActive"></app-navigation-deck>

        <!----------------------------------------------------------------------------------------->
        <div class="divider-dark my-2"></div>
        <!--cards---------------------------------------------------------------------------->
        <div class="row text-center" *ngIf="title_varient=='front_title'">
            <div class="col">
                
                <app-front-stadium-button></app-front-stadium-button>
            </div>
            <div class="col ">
                
                <app-front-page-button (clickEvent)="handleButtons($event)"></app-front-page-button>
            </div>
            <div class="col">
                
                <app-front-news-button></app-front-news-button>
            </div>
        </div>
        <!--console 1---------------------------------------------------------------------------->
    <app-teams-console *ngIf="title_varient=='teams_console_title'" (message)="handleMessages($event)"></app-teams-console>
    
    </div>
    <div class="container z-1 position-relative">
        <app-login-register *ngIf="title_varient=='login-register'"></app-login-register>
    </div>
</body>

 