<app-navbar  (clickEvent)="handleButtons($event)" *ngIf="authService.isLoggedIn()"></app-navbar>
<!--{{title_varient}}-->
<!--{{ConsolesActive}}-->

<body>
    <router-outlet></router-outlet>
    <app-wallpapers [title]="wallpaperSwitch()" *ngIf="authService.isLoggedIn()"></app-wallpapers>
    <app-login-register *ngIf="!authService.isLoggedIn()" (messageEvent)="handleButtons($event)"></app-login-register>
    <div class="container z-3 position-relative shadow pb-5 mt-5 front-container fade-in-bottom" *ngIf="authService.isLoggedIn()&&title_varient=='front_title'" style="">
        
        <div class="row px-2 py-2" style="color: #253738; border: #253738;border-radius: 1px;">
            <app-title-card [title_varient]="title_varient" [consoleActive]="ConsolesActive"></app-title-card>

            
        </div>
        <app-navigation-deck [ConsolesActive]="false"></app-navigation-deck>

        <!----------------------------------------------------------------------------------------->
        <div class="divider-dark my-2"></div>
        <!--cards---------------------------------------------------------------------------->
        <div class="row text-center" *ngIf="title_varient=='front_title'">
            <div class="col">
                
                <app-front-stadium-button></app-front-stadium-button>
            </div>
            <div class="col ">
                
                <app-front-page-button (clickEvent)="handleButtons($event)"></app-front-page-button>
            </div>
            <div class="col">
                
                <app-front-news-button></app-front-news-button>
            </div>
        </div>
        <!--console 1---------------------------------------------------------------------------->
    
    
    </div>
    <div class="container z-1 position-relative" *ngIf="title_varient=='teams_console_title'">
        <app-title-card [title_varient]="title_varient" [consoleActive]="ConsolesActive"></app-title-card>
        <app-navigation-deck [ConsolesActive]="true"></app-navigation-deck>
        <div class="divider-dark my-2"></div>
        <app-teams-console (message)="handleMessages($event)"></app-teams-console>
    </div>
    <div class="container z-1 position-relative fade-in-bottom" *ngIf="title_varient=='profile_page'">
        <app-profil></app-profil>
    </div>
    <div class="container z-1 position-relative fade-in-bottom" *ngIf="title_varient=='admin_page'">
        <app-admin></app-admin>
    </div>
    
</body>

