.custom-button {
    display: inline-flex;
    align-items: center; /* Centers elements vertically */
    justify-content: center; /* Centers elements horizontally */
   width: 122px;
   height: 184px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    border-radius: 12px;;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .plus-sign {
    color: white;
    font-size: 1.2em;
    opacity: 0; /* Initially hidden */
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-53%, -48%); /* Center the plus sign */
    transition: opacity 0.2s ease-in-out;
  }
  
  .custom-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black for darkening */
    .plus-sign {
      opacity: 1; /* Show plus sign on hover */
    }
  }

  p{
    color: aliceblue;
    opacity: 75%;
  }

  .image-container{
    width: fit-content;
  }