 <!--nav icons-------------------------------------------------------------->
 <div class="row text-center" [hidden]="ConsolesActive">
    <div class="col">
        <img src="../assets/stadium-logo(1).png" class="button-icon" alt=""> 
    </div>
    <div class="col ">
        <img src="../assets/team-logo(1).png" class="button-icon" alt="">
    </div>
    <div class="col">
        <img src="../assets/news-logo(1).png" class="button-icon" alt="">
    </div>
</div>
<!--nav buttons---------------------------------------------------------------------------->
<div class="row text-center" [hidden]="!ConsolesActive">
    <div class="col">
        <button class="btn border-success w-100">
            <img src="../assets/stadium-logo(1).png" class="button-icon" alt=""> 
        </button>   
    </div>
    <div class="col ">
        <button class="btn border-success w-100">
            <img src="../assets/team-logo(1).png" class="button-icon" alt="">
        </button>
    </div>
    <div class="col">
        <button class="btn border-success w-100">
            <img src="../assets/news-logo(1).png" class="button-icon" alt="">
        </button>   
    </div>
</div>
