<div class="card m-3 p-3 justify-content-center fade-in-bottom" style="width: 60vh;height: 75vh;">
    <h4 class="fw-light" style="color: white;">Change team name:</h4>
    <div class="divider-white"></div>
    {{team_name}}
    <div class="my-2">
        <form [formGroup]="changeNameForm" (submit)="submitNameForm()">
            <mat-form-field appearance="fill">
              <mat-label>New name:</mat-label>
              <input matInput type="text" formControlName="team_name">
            </mat-form-field>
            <br><button mat-raised-button type="submit" color="primary">Save</button>
            
        </form>
    </div>
    



<!--Player change-->
<h4 class="fw-light" style="color: white;">Change team players:</h4>
<div class="divider-white"></div>
    <div class="mt-2" style="overflow-y: scroll;height: 100%;overflow-x: hidden;">
        
        <form [formGroup]="changePlayersForm">
        
            <div formArrayName="players" class="my-2">
    
                <div *ngFor="let player of playerForms.controls; let i=index" [formGroupName]="i">
                    <div class="row">
                        <div class="col p-1">
                            <mat-form-field style="width: 135px;">
                                <mat-label>Position :</mat-label>
                                <input matInput type="number" min="1" max="11" formControlName="position">
                            </mat-form-field>
                            
                        </div>
                        <div class="col p-1">
                            <ng-select formControlName="player_id">
                                <ng-option *ngFor="let p of PlayerList" [value]="p.user_id">{{p.psudo}}</ng-option>
                             </ng-select>
                            
                        </div>
                        <div class="col p-2">
                            <button mat-raised-button color="warn" (click)="deletePlayer(i)">Remove</button>
                        </div>
                    </div>
                    <div *ngIf="player.get('player_id')?.errors?.['duplicatePlayerId'] && (player.get('player_id')?.touched || player.get('player_id')?.dirty)">
                        This player is already added.
                      </div>
                      <div *ngIf="player.get('position')?.errors?.['duplicatePosition'] && (player.get('position')?.touched || player.get('position')?.dirty)">
                        This position is already taken.
                      </div>
                </div>
                <button mat-raised-button color="primary" (click)="addPlayer()" [disabled]="max_player_edit==11">+ Add</button>
            </div>
                
        </form>

    </div>
    <div class="card-footer">
        <button mat-raised-button color="success" [disabled]="max_player_edit==0||this.changePlayersForm.invalid" (click)="submitPlayerForm()">Submit player changes</button>
        
    </div>
</div>
