
<div class="container-fluid z-3 position-relative d-flex justify-content-center align-items-center fade-in-bottom" style="height: 100vh;">
    <div class="row justify-content-center">
        <div class="col-9 text-start">
            <button class="btn glass-btn m-2" (click)="backToHome()" style="transform: translateX(-30px);">Back to home page</button>
            
        </div>
        <app-login (messageEvent)="handleMessage($event)"></app-login>
    </div>
</div>






<app-login-wallpaper></app-login-wallpaper>
