.btn{
    color:white;
}

.card{
    background: linear-gradient(to top,#253738,rgba(240, 240, 240, 0));
    
    border:none;
    border-radius: 12px;
}
.card-body{
    
    color:white;
}
.table.table-borderless {
    background-color: transparent; /* Set background color to transparent */
  }

  .table.table-borderless th,
  .table.table-borderless td {
    background-color: transparent; /* Set background color of table cells to transparent */
    line-height: 1;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

p{
    
}


@keyframes fadeInAndRise {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Adjust the initial translation as needed */
  }
  20%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.fade-in-and-rise{
  animation: fadeInAndRise 0.5s ease-in-out;
}